<div *ngIf="codeRegion else noCodeRegion">
  <h2 class="mb-5 mt-5 color-blue text-center display-6">Départements de la région {{ codeRegion }} </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Code Postal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departement of departements">
          <td>{{departement.nom}}</td>
          <td>{{departement.code}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noCodeRegion>
    <img src="../../assets/img/carte-de-france.jpg" alt="">
  </ng-template>
  
