
<div class="container d-flex justify-content-center mb-5">
  <div class="card p-4">
    <h1 class="card-title mb-4 display-4 text-uppercase text-center color-blue">{{ communeDetail.nom }}</h1>
    <hr>
    <div class="d-flex m-4">
    <img src="../../assets/img/champs-france.jpg" class="card-img-top" alt="Champs de France">
    <div class="card-body">
      <h5>Département : {{ communeDetail.departement.nom }} ( {{ communeDetail.departement.code }} ) </h5>
      <p>Codes Postaux : <span *ngFor="let codePostal of communeDetail.codesPostaux"> {{ codePostal }} </span>
      </p>
      <p class="card-text mt-4 mb-4">Habitants :  {{ communeDetail.population }}<br> 
        Superficie : {{ communeDetail.surface }} hectares</p>
      <!-- todo -->
      <!-- <a href="https://www.google.com/maps/@ {{ communeDetail.centre.coordinates }}" class="btn btn-outline-primary" target="_blank">Voir sur la carte</a> -->
    </div>
    </div>
  </div>
</div>
