<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Région</th>
        <th scope="col">Code Région</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let region of regions"
      (click)="selectedCodeRegion = region.code"
      [class.selected-region]="selectedCodeRegion == region.code"
  >
        <td> {{ region.nom }} </td>
        <td> {{ region.code }} </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-6">
  <app-departements-by-region [codeRegion]="selectedCodeRegion"></app-departements-by-region>
</div>