
.search-form-container {

    width: 300px;
    margin: auto;

    input {
        width: 250px;
        height: 50px;
    }
    
    input:focus {
        box-shadow: none;
    }

    .result {
        width: 300px;
        p {
            padding-left: 2rem;
            margin: 0.5rem 0;
        }
    }
}

// color
.background-primary-color {
    background-color: #223C77;
}

